.red{
  color:red;
}
.blue{
  color:blue;
}

.bolder{
  font-weight:600 !important;
}

.grey{
  color:#676a6c;
}
.img-size{
  width:800px;
}
.mg-size-500{
  width:500px;
}
.margin-bottom-20{
   margin-bottom:20px;
 }

.margin-top-20{
  margin-top:20px;

}
.margin-bottom-10{
  margin-bottom:10px;
}

.left{
  text-align: left;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.blue-green{
  color:#53b095;
}
