
.swiper-pagination.swiper-pagination-bullets{
  bottom: 20px;
  .swiper-pagination-bullet{
    border:1px solid white;
    width: 12px;
    height: 12px;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active{
    border:1px solid white;
    background:white;
    width: 12px;
    height: 12px;
  }
}

.swiper-button-prev{
  width: 40px;
  height: 40px;

  .icon{
    fill:#9b969b;
    width: 40px;
    height: 40px;
    &:hover{
      fill:white;
    }
  }
  &::after{
    display: none;
  }
}

.swiper-button-next{
  margin-right:20px;
  width: 40px;
  height: 40px;
  .icon{
    width: 40px;
    height: 40px;
    fill:#9b969b;
    &:hover{
      fill:white;
    }
  }
  &::after{
    display: none;

  }
}

.icon {
  width: 50px;
  height: 50px;
  vertical-align: -0.15em;
  overflow: hidden;
}
